* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
    padding-top: 250px;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 16px;
}

form input,
form button {
    display: block;
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
}

form button {
    width: 25%;
    background-color: rgb(76, 161, 161);
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}

::-webkit-inner-spin-button {
    display: none;
}