* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aliceblue;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 250px auto;
}

h1 {
    margin-bottom: 24px;
}

input, button {
    padding: 8px;
}

button {
    cursor: pointer;
    font-weight: bold;
}

ul {
    margin-top: 18px;
    margin-left: 16px;
}

ul li {
    font-size: 16px;
    margin-bottom: 6px;
    cursor: pointer;
}

.riscado {
    text-decoration: line-through;
}